.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card {
    margin: 16px;
    max-width: 300px;
    cursor: pointer;
}

.ghost {
    height: 1px;
    width: 364px;
}

.product-image {
  position: relative;
    height: 220px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}

.product-image span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.3rem;
  color: #ff4947;
}
